* {
  font-family: "Narkiss Block Regular";
}
body {
  direction: rtl;
  width: 1240px;
  margin: auto;
  height: 400vh;
}
a {
  cursor: pointer;
}
.writer {
  color: #707070;
}
#ad1 {
  width: 80%;
  margin-right: 10%;
  background-image: url(https://tpc.googlesyndication.com/simgad/4977648771913105243);
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
}
.header-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.header-top {
  direction: ltr;
  display: flex;
  justify-content: center;
  position: relative;
  height: 103px;
  width: 100%;
}
.header-left {
  height: 28px;
  width: 300px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0px;
  bottom: 23px;
  height: 28px;
}
.ynet-plus {
  height: 28px;
  width: 210px;
  background-image: url(/ynet+_left.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 13px;
  text-align: left;
}
.ynet-plus-text {
  position: relative;
  top: 4px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
}
.connect img {
  width: 16px;
  height: 16px;
}
.header-img img {
  height: 75px;
  width: 176px;
  margin-left: calc((100% - 176px) / 2);
}
.header-right {
  display: flex;
  position: absolute;
  height: 28px;
  font-size: 13px;
  right: 0;
  bottom: 23px;

  align-items: baseline;
}
.city-temp {
  display: flex;
  position: relative;
  width: 110px;
  padding-left: 3px;
}
.city-temp-name {
  margin-right: 3px;
}
.city-temp img {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0px;
  top: -3.5px;
}
.redmail img {
  width: 14px;
  height: 16px;
}
.redmail {
  margin-left: 12px;
}
.newsflash {
  margin-left: 12px;
}
.newsflash img {
  width: 14px;
  height: 16px;
}
.header-bottom {
  height: 28px;
  width: 100%;
  position: relative;
}
.header-nav1 {
  height: 28px;
  width: 1240px;
  position: absolute;
  background-color: rgb(222, 26, 26);
  display: flex;
  align-content: center;
 
 
  z-index: 100000;
}

.ynet-logo-in-nav{
  
  background-image: url(.//ynet-nav-logo.png);
      background-repeat: no-repeat;
    background-size: 27px 27px;
    width: 27px;
    height: 27px;
    background-position: center;
}
.header-nav2 {
  height: 28px;
  width: 100%;
  background-color: rgb(222, 26, 26);
  display: flex;
  align-content: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header-nav1 ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.header-nav2 ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.header-nav1 ul li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
.header-nav2 ul li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
.header-nav1 ul li div {
  cursor: pointer;
}
.header-nav2 ul li div {
  cursor: pointer;
}
.search-bar img {
  height: 27px;
  width: 28px;
  margin-top: 5px;
}

.handicap-icon {
  position: fixed;
  width: 55px;
  height: 46px;
  top: 100px;
  left: 0;
  background-image: url(.//handicap-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.butterfly-icon {
  height: 29px;
  width: 44px;
  position: fixed;

  top: 160px;
  background-color: rgb(36, 171, 227);
  border-radius: 0 13px 13px 0;
  left: -17px;
  transition: left 0.7s;
}
.butterfly-icon img {
  height: 28px;
  width: 28px;
  padding-right: 4px;
}
.butterfly-icon:hover {
  left: 0;
}
/* news container */
.news-container {
  position: relative;
  min-height: 481.1px;
  width: 100%;
}
/* scrolling news animation */
.scrolling-news{
  background-color: #f3f8f9;
  border: solid 0.5px #f3f8f9;
  box-shadow: 0 1px 4px 0 rgba(218, 218, 221, 0.4);
  margin: 25px 0 25px 0;
}
.more-scrolling-news{
  width: 156px;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  color:  #de1a1a;
}
.more-scrolling-news-link{
  display: flex;
align-items: center;
 justify-content: center;
 
}
.more-scrolling-news-link span{
 margin-left: 5px;
 
}
.moving-news{
  width: 100%;
  display: flex;
  margin-right: 10px;
  justify-content: space-evenly;
}
.moving-news .slot1{
  height:100px ;
  width: 217px;
}
.moving-news .slot1 .scrolling-news-slot-textbox{
padding: 0 10px 0 10px;
margin-top: 8px;
}
.moving-news .slot1 .scrolling-news-info{
  
  width: 180px;
}



















.main-news-artical {
  width: 545px;
}

.main-news-artical span {
  font-size: 40px;
  font-weight: 900;
  text-align: justify;
  height: 151px;
}
.main-news-artical p {
  text-align: justify;
}
.main-news img {
  height: 346px;
  width: 100%;
}
.scrolling-news {
  display:flex ;
  width: 100%;
  height:102px;
  
}
.main-news {
  display: inline-flex;
  direction: row;
  justify-content: space-between;
  width: 100%;
  height: 80%;
}
.date {
  position: relative;
  height: fit-content;
}
.news-container2 {
  position: relative;
  min-height: 202px;
  width: 100%;
 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.ad-container1 {
  width: 50%;

  height: 497px;
  position: relative;
}
#ad2 {
  position: absolute;
  width: 48%;
  left: 1%;
}
#ad3 {
  position: absolute;
  width: 48%;
  bottom: 0%;
  left: 1%;
}
#ad4 {
  position: absolute;
  width: 50%;
  height: 497px;
}
.strip-news-block {
  display: block;
}
.strip-news {
  display: flex;
  flex-direction: column;
  z-index: 4;
  width: 50%;
  color: white;
}
.strip-container {
  display: block;
  height: 128px;
  width: 100%;
}
.strip-slot1,
.strip-slot3 {
  background-color: #de1a1a;
  width: 100%;
  height: 128px;
  display: flex;
  height: 113px;
}
.strip-slot2 {
  background-color: #1417ac;
  width: 100%;
  height: 128px;
  display: flex;
  height: 113px;
}

.strip-slot4 {
  background-color: #0c1c3a;
  width: 100%;
  height: 128px;
  display: flex;
  height: 113px;
}
.strip-slot1-img {
  width: max-content;
  width: 34%;
}
.strip-slot1-img img {
  width: 100%;
  height: 100%;
}
.strip-slot1-text {
  padding: 7px 6px;
  width: 66%;
}
.strip-slot-head {
  margin-bottom: 2px;
  font-size: 16px;
  font-weight: 600;
  height: 16px;
  line-height: 16px;
}
.strip-slot-p {
  margin-top: 15px;
  font-size: 15px;
  font-weight: 500;
  max-height: 34px;
  letter-spacing: -0.3px;
  line-height: 16px;
}
.strip-slot-writer {
  bottom: 0px;
  margin-top: 18px;
  white-space: unset;
  line-height: 10px;
  font-size: 10px;
}
.news3 {
  height: 263px;
}
.news3-headers {
  height: 30px;
  width: 100%;
  margin-bottom: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
.news3 .news3-headers span {
  background-color: #1417ac;
  width: 610px;
  height: 30px;
  display: flex;
  align-items: center;
}
.slots-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.news3-slot1 {
  width: 190px;
  height: 218px;
}

.text-to-right {
  width: fit-content;
  text-align: center;
  margin-right: 10px;
  font-size: 17px;
  font-weight: bold;
  color: white;
}
.text-to-left {
  width: fit-content;
  text-align: center;
  margin-left: 10px;
  font-size: 17px;
  font-weight: bold;
  color: white;
}
.news3-slot1 .text-area {
  height: 99px;
  width: 100%;
  color: black;
}
.news3-slot1 .text-area .slot-title {
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}
.news3-slot1 .text-area .slot-title div {
  height: 40px;
}
.news3-slot1 .text-area .writer {
  color: #999999;
  font-size: 13px;
  font-weight: 300;
  text-align: right;
  line-height: 20px;
  margin-top: 3px;
  margin-bottom: 6px;
}
.news4-container {
  display: flex;
  flex-direction: column;
  z-index: 4;
  width: 50%;
  color: white;
  height: 603px;
}
.news6-container-right {
  display: flex;
  flex-direction: column;
  z-index: 4;
  width: 610px;
  color: white;
  height: 603px;
  border: 0.5px solid #999999;
  height: 186px;
}
.news6-container-left {
  display: flex;
  flex-direction: column;
  z-index: 4;
  width: 610px;
  color: white;
  height: 603px;
  height: 186px;
  border: 0.5px solid #999999;
}
.news4-content {
  height: 588px;
  display: flex;
  flex-direction: row;
  color: black;
}
.news4-content-right {
  width: 190px;
}
.news4-content-left {
  width: calc(100% - 190px);
}
.news4-header {
  width: 100%;
  height: 30px;
  
  margin-bottom: 15px;
}
.news4 .news4-header div {
  background-color: #1417ac;
  width: 610px;
  height: 30px;
  align-items: center;
}
.news4-header-span{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #1417ac;
  width: 610px;
  height: 30px;
  align-items: center;
}
.weather .city-temp {
  width: fit-content;
}
.weather .city-temp-name {
  margin-right: 30px;
}
.weather .city-temp-deg {
  font-size: 36px;
  font-weight: 500;
}
.weather .city-temp-logo img {
  width: 30px;
  height: 30px;
}
.weather-link {
  color: blue;
}
.weather .writer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-area{
  max-width: 420px;
}
.news4-content-left .text-area {
  position: relative;
  padding-right: 10px;
  height: 73px;
  color: black;
}
.news4-content-left .text-area .slot-title {
  font-size: 16px;
  font-weight: bold;
}

.news4-content-left .text-area .writer {
  position: absolute;
  bottom: 10px;
}
.news6-container-right .news4-header-span{
  background-color: #b4010b;
}
.news6-container-left .news4-header-span{
    background-color: #b4010b;
}
.news6-container-right .news4-content-left{
  height: 140px;
  position: relative;
}
.news6-container-left .news4-content-left{
  height: 140px;
  position: relative;
}
.news6-container-right .news4-content{
  height: 140px;
}
.news6-container-left .news4-content{
  height: 140px;
}
.news6-container-right .news3-slot1{
  height: 140px;
}
.news6-container-left .news3-slot1{
  height: 140px;
}

.news6-full-report{
  position: absolute;
 color: #1417ac;
  left: 20px;
  font-weight: bold;
}