* {
  font-family: arial;
}
body {
  direction: rtl;
  width: 98%;
  margin-right: 1%;
  height: 200vh;
}
a {
  cursor: pointer;
}
.header-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.header-top {
  direction: ltr;
  display: flex;
  justify-content: center;
  position: relative;
  height: 103px;
  width: 100%;
}
.header-left {
  height: 28px;
  width: 300px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0px;
  bottom: 23px;
  height: 28px;
}
.ynet-plus {
  height: 28px;
  width: 210px;
  background-image: url(/ynet+_left.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 13px;
  text-align: left;
}
.ynet-plus-text {
  position: relative;
  top: 4px;
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
}
.connect img {
  width: 16px;
  height: 16px;
}
.header-img img {
  height: 75px;
  width: 176px;
  margin-left: calc((100% - 176px) / 2);
}
.header-right {
  display: flex;
  position: absolute;
  height: 28px;
  font-size: 13px;
  right: 0;
  bottom: 23px;

  align-items: baseline;
}
.city-temp {
  display: flex;
  position: relative;
  width: 110px;
  padding-left: 3px;
}
.city-temp-name {
  margin-right: 3px;
}
.city-temp img {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0px;
  top: -3.5px;
}
.redmail img {
  width: 14px;
  height: 16px;
}
.redmail {
  margin-left: 12px;
}
.newsflash {
  margin-left: 12px;
}
.newsflash img {
  width: 14px;
  height: 16px;
}
.header-bottom {
  height: 28px;
  width: 100%;
  position: relative;
}
.header-nav {
  height: 100%;
  width: 100%;
  background-color: rgb(222, 26, 26);
  display: flex;
  align-content: center;
  position: sticky;
  top: 0;
}
.header-nav ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
.header-nav ul li {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
.header-nav ul li div {
  cursor: pointer;
}
.search-bar img {
  height: 28px;
  width: 28px;
  margin-top: 4px;
}
